a {
    color: #000;
}
a:hover {
  color:#ff9900;
}
a:hover,.product-name a:hover, ul.nav-accordion li a:hover, #my_recent_reviews .product-name a:hover,span.mt-cart-title:hover, .mt-ajax-container .product-details a:hover, .mt-ajax-container .product-details a:hover {
  color:#ff9900;
}

button.button, a.btn-readmore, .mt-ajax-checkout a {
	background-color:#ffb700;
}

button.button:hover, a.btn-readmore:hover, .mt-ajax-checkout a:hover, .widget-static-block .custom .btn-purchase:hover { 
	background-color:#f7dc99; 
}

.cms-index-index .main-top {
	display:none;
}

.cms-index-index .container-main .main-content .show-grid .hidden-xs {
	display:none!important;
}

.cms-index-index .container-main .main-content .show-grid .col-xs-12 {
	width: 100%;
}

.cms-home-page2 .mt-postscript {
	display:none;
}

.category-products .item .actions .confix-produclist-category ul li a.link-compare:hover, .slider-product-wrapper .products-grid .item .catpanel .mt-actions .confix-produclist a:hover, .confix-produclist ul li a.link-compare:hover, .category-products .products-list .confix-produclist-category ul li a.link-compare:hover, .confix-produclist .compare a:hover, .confix-produclist-category ul li a:hover { background-color:#ffb700; }

.category-products .item .actions .confix-produclist-category ul li a.link-wishlist:hover, .slider-product-wrapper .products-grid .item .catpanel .mt-actions .confix-produclist a.link-wishlist:hover, .confix-produclist ul li a.link-wishlist:hover, .category-products .products-list .confix-produclist-category ul li a.link-wishlist:hover, .confix-produclist .wishlist a:hover, .confix-produclist-category ul li a:hover { background-color:#ffb700; }

.old-price .price, .category-products .item .price-box .price, .category-products #products-list .price-box .special-price .price, .category-products #products-list .price-box .regular-price .price, .product-view .product-shop .price-box .regular-price .price, .product-view .product-shop .price-box .special-price { 
	color:#000; 
}

.block {
	border-top: 3px solid #ff9900;
}

.block.block-subscribe {
	border: none;
}

.block-subscribe .block-title strong span {
 	color: #fff;
}

.header-container .header .header-top {
	background-color: #3e454d;
}

.header .header-act {
 	padding: 10px 0;
}

.header-container .header a {
	color: #fff;
}

.header-container .header a:hover { 
	color:#ff9900;
}

.header .header-content-right .form-search button.button span {
	background: #ff9900;
	color: #000;
}

.header-container .header .header-top .header-top-right ul.links li a:hover {
	color:#ff9900;
}

.mt-icon-ajaxcart a.mt-cart-label .print .price {
	color:#ff9900;
}

.mt-icon-ajaxcart a.mt-cart-label {
	color:#000;
}

.info-class span.phone {
	color: #fff;
}

.info-class p {
	margin: 0;
}

.menu-full,.mt-navigation {
	background-color: #ff9900;
}

#mtnav .sub-wrapper {
    background: #fff;
}

.is-sticky #mt-sticky-header,.is-sticky #mt-sticky-header .mt-navigation {
	background-color: #ff9900;
}

#mtnav a, #megamenu a, #mtnav li.level0 a {
	color: #fff;
}

#mtnav li:hover { 
	background-color:#000; 
}

.mt-navigation #mtnav li.level0 ul li a:hover {
 	background-color: #00a651;
} 

#mtnav li.level0 ul li.parent:hover {
    background-color: #777;
}

.footer-container .footer-bottom {
	background-color: #3e454c;
}

.footer-container {
	margin:0;
}

.footer .block-subscribe button.button, a.btn-readmore-about {
  background-color:#ffb700;
}
.footer .block-subscribe button.button:hover, a.btn-readmore-about:hover {
  background-color:#f7dc99;
}

.mt-block-free {
	color: #fff;
}

#cboxContent.storebox {
	background-color:#fff;
    background-image: url(../images/walkthrough.png);
    background-position: 50% auto;
    background-size: 100% auto;
    color: #000000;
}
#cboxLoadedContent{
    margin: 100px 0 0 0 !important;
}

#cboxContent.storebox .select-store-label {
	color: #000;
	display:block;
}

#cboxContent.storebox select {
	clear:both;
}

#cboxContent.storebox .store-switcher {
	text-align: center;
}

.quick-access { width:224px;}

.quick-access form div.input-box label { 
	display:none;
}

.quick-access form div.input-box {
	position:relative;
}

.quick-access form div.input-box button.search-button {
	position:absolute;
	background:url("../images/ico-search.jpg") no-repeat 0 9px;
	text-indent: -9999px;
	box-shadow: inherit;
	right: 6px;
	top: 1px;
}

.quick-access input#search {
	height: 44px;
    line-height: 44px;
	background:#f9f9f9;
}

#search_mini_form .input-box #auto_search_loader {
	left: 45%;
}

#search_mini_form .input-box .search-autocomplete {
	top: -14px !important;
}

#search_mini_form .search-autocomplete ul, #search_mini_form .search-autocomplete h4 {
	border: 1px solid #ff9900;
}

#search_mini_form .search-autocomplete .productinfo .title {
	color:#393939;
}

.account-login .col2-set {
  width:100%;
}
.account-login .col2-set .col-1 {
  float:left;
  width:48.5%;
}
.account-login .col2-set .col-2 {
  float:right;
  width:48.5%;
}


.account-login .col3-set .col-1,.account-login .col3-set .col-2,.account-login .col3-set .col-3 {
	width:auto;
	float:left;
}

.product-view .product-shop .availability span.in-stock1 {
     color: #3ac65d;
}

.product-view ul.more-views-direction-nav li a:hover {
     background-color: #ff9900;
}

.mt-ajax-container .access a:hover span.icon {
    background-color: #ff9900;
}

.header-container .mt-ajax-container .product-details a {
    color: #000;
}

.mt-ajax-container .access a span.icon, .mt-ajax-container .product-details .btn-remove span.icon {
    background-color: #ccc;
}

.toolbar .toolbar-top .sorter .view-mode a.grid.active .fa-th {
    color: #ff9900;
}

.toolbar .toolbar-top .sorter .sort-by a {
    color: #000;
}

.breadcrumbs li strong {
 	color: #ff9900;
}

.product-tabs li.active a {
    background: #777;
    color: #fff;
}
.product-tabs li a:hover {
 	background: #ccc;
}
.product-prev-next ul li a {
 	color: #000;
}
.product-prev-next ul li a:hover { 
	background-color:#ff9900; 
 } 
 
 .product-view .product-shop .product-add-to-links ul.add-to-links li a:hover, .product-view .product-shop .product-options-bottom ul.add-to-links li a:hover {
  background-color:#ff9900;
}

.header-container .header .header-top .currency_top {
 display: none;
}

@media (max-width: 767px) {
 .header .header-act {
 	padding: 10px 0;
 }
 .header-2-right .header-content-right .hidden-xs {
    display: block!important;
 }
 .quick-access {
 	margin: 0 auto;
 }   
}

@media (min-width: 767px) {
  .header-2-right {
  	 margin: 20px 0 0 0;
  }
}