/*Sidebar Menu mt-effect-slide mt-menu-open*/

.mt-container {
    position: relative;
    overflow: hidden;
}
.mt-wrapper {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}
.mt-wrapper::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    -o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.mt-menu-open .mt-wrapper::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
.mt-menu {
    font-family: "Open Sans", arial, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 250px;
    height: 100%;
    background: #333333;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    overflow: auto;
}
.mt-menu .mt-menu-active{
    cursor: pointer;
    display: block;
    overflow: hidden;
}
.mt-menu .mt-menu-active .navbar-toggle {
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 18px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.mt-menu .navbar-header .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
    height: 3px;
}
.title-canvas {
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 9px;
    text-transform: uppercase;
}
.mt-menu-active .mt-close-canvas {
    color: #ccc;
    display: block;
    float: right;
    font-family: 'FontAwesome';
    font-size: 18px;
    background-color: transparent;
    border: 0;
    line-height: 42px;
    padding: 0;
    position: relative;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 42px;
    height: 42px;
    z-index: 999;
}
.mt-menu-active .mt-close-canvas::before {
    content: "\f00d";
    font-size: 30px;
}
.mt-menu .navbar-header {
    text-align: left;
}
.mt-menu .mt-menu-title {
    border-bottom: #dfdfdf solid 1px;
}
.mt-menu .mt-menu-title h3 {
    color: #fff;
    padding: 0 0 0 29px;
}
ul.nav-accordion > li:first-child{
    /*border-top: 1px solid rgba(0,0,0,0.15); */
}
.mt-menu-open .mt-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    -o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
/* Effect:Slide along */
.mt-effect-slide.mt-menu-open .mt-wrapper {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

.mt-effect-slide.mt-menu {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
}

.mt-effect-slide.mt-menu-open .mt-effect-slide.mt-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
}

.mt-effect-slide.mt-menu::after {
    display: none;
}
.mt-effect-slide.mt-menu-open .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    left: 250px;
    z-index: 9999;
}

/**STYLE DRILLMENU**/
.mt-drillmenu {
    float: left !important;
    margin-left: 0 !important;
    width: 100% !important;
}
.nav-accordion { width: 100%; }
ul.nav-accordion {
    line-height: 0.5em;
    list-style: none;
    padding: 0;
    margin: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}
ul.nav-accordion.nav-mobile-accordion > li > a {
    padding-left: 20px;
}

ul.nav-accordion.nav-mobile-accordion ul.level0 > li >a {
    padding-left: 30px;
}

ul.nav-accordion.nav-mobile-accordion ul.level1 > li >a {
    padding-left: 40px;
}
ul.nav-accordion.nav-mobile-accordion ul.level2 > li >a {
    padding-left: 50px;
}
ul.nav-accordion li {
    background: none;
    position: relative;
    line-height: 20px;
}


ul.nav-accordion li a {
    background-image: none !important;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    display: block;
    margin: 0;
    line-height: 42px;
    font-size: 100%;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    color: #939393;
    -webkit-transition: color 0.3s ease-in-out 0s;
    -moz-transition: color 0.3s ease-in-out 0s;
    -o-transition: color 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s;
    padding-right: 42px;
}
ul.nav-accordion li a > span {
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

ul.nav-accordion > li.last{
    margin-bottom: 29px;
}
ul.nav-accordion ul {
    display: none;
    margin: 0;
    padding: 0;
}
ul.nav-accordion ul li {
    clear: both;
    margin: 0;
    padding: 0;
}
ul.nav-accordion ul li a {
    font-size: 100%;
    outline: none;
    padding-left: 15px;
}
ul.nav-accordion ul li.active { font-weight: bold; }
ul.nav-accordion li.active span.expand,ul.nav-accordion li.active span.collapse{
    color: #000000;
}
ul#mt_accordionmenu li span.collapse {
    top: 0;
}
ul#mt_accordionmenu li span.expand {
    top: 0;
}
ul.nav-accordion ul ul li a {
    padding-left: 30px;
}
ul.nav-accordion ul ul ul li a {
    padding-left: 40px;
}
ul.nav-accordion ul ul li a:hover {  }

ul.nav-accordion li span.expand {
    background-color: transparent;
    cursor: pointer;
    display: block;
    line-height: 42px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 42px;
    height: 42px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#categories_nav .fa-angle-up:before,#categories_nav .fa-angle-down:before{
    margin-left: 2px;
}
ul.nav-accordion li span.expand, ul.nav-accordion li span.collapse {
    font-size: 0;
    color: transparent;
    text-align: center;
}
ul.nav-accordion li span.collapse {
    visibility: visible;
    background-color: transparent;
    cursor: pointer;
    display: block;
    line-height: 42px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 42px;
    height: 42px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
ul.nav-accordion li span.collapse::before{
    content: "\f107";
    font-family: FontAwesome;
    display: block;
    font-size: 13px;
    color: #939393;
}
ul.nav-accordion li span.expand::before{
    content:"\f106";
    font-family: FontAwesome;
    display: block;
    font-size: 13px;
    color: #939393;
}

ul.detail-parent {
    margin: 0;
    padding: 0 0 0 17px;
}
.navbar .btn-navbar {
    background-image: none !important;
    border-radius: 2px 2px 2px 2px;
    box-shadow: none !important;
    float: left !important;
    margin: 9px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.navbar .brand {
    font-size: 130% !important;
    font-weight: bold !important;
    margin: 0 !important;
    padding-left: 20px !important;
    text-shadow: none !important;
    text-transform: uppercase !important;
}
.navbar .btn-navbar .icon-bar { background-color: #FFFFFF !important; }
ul.nav-accordion li.level0 > a > span > .cat-label {
    position: inherit;
}
ul.nav-accordion li.level0 > a > span > .pin-bottom:before {
    position: inherit;
    right: 6px;
    top: 22px;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 0;
}
.mt-menu-active .collapsed-icon {
    margin-top: 13px;
    margin-left: 15px;
}
.mt-menu-active .title-canvas {
    line-height: 44px;
}
/*custome menu*/
.navbar-inverse{
    background-color: inherit;
}
.navbar-toggle{
    margin-left: 15px;
}
.navbar .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-inverse .navbar-toggle:hover .icon-bar, .navbar-inverse .navbar-toggle:focus .icon-bar {
    background: #fff;
}
.mt-menu ul#mt_accordionmenu li a {
    color: #939393;
    -webkit-transition: color 0.5s ease-in-out 0s;
    -moz-transition: color 0.5s ease-in-out 0s;
    -o-transition: color 0.5s ease-in-out 0s;
    transition: color 0.5s ease-in-out 0s;
}
.mt-menu ul#mt_accordionmenu li a:hover {
    background: transparent;
    color: #fff;
}
/**END STYLE DRILLMENU**/


/* RTL */
.rtl ul.nav-accordion {
    padding-left: 0;
    padding-right: 20px;
}
.rtl ul#mt_accordionmenu li span.collapse, .rtl ul#mt_accordionmenu li span.expand {
    left: 0;
    border-right: 1px solid rgba(0,0,0,0.15);
    border-left: 0;
}
.rtl .mt-menu-active .collapsed-icon {
    margin-left: 0;
    margin-right: 15px;
}
.rtl .navbar-inverse .navbar-toggle:hover .icon-bar, .navbar-inverse .navbar-toggle:focus .icon-bar {
    background: #fff;
}