/* Header ================================================================================ */
.rtl .header-layout-2 .header-cars .header-content-right {
    left: 16px;
    position: absolute;
    top: -3px;
    right: auto;
}

.rtl .header-layout-2 .header-2-left .info-class .mttron-icon {
    text-align: right;
}

.rtl .header-layout-2 .mt-icon-ajaxcart a.mt-cart-label {
    font-size: 78%;
}

.rtl .header-layout-2 .mt-maincart {
    padding: 3px 0 10px;
}

.rtl .header .logo {
    text-align: right;
}

.rtl .header-container .header .header-top .header-top-right ul.links {
    float: left;
}

.rtl .header-container .header .header-top .header-top-right ul.links li a {
    direction: ltr;
}

.rtl .header-container .header .header-top .header-top-right ul.links li,
.rtl .header-container .header .header-top .form-language,
.rtl .header-container .header .header-top .currency_top,
.rtl .header-container .header .header-top .language-switcher {
    float: right;
}

.rtl .header-container .header .header-top .form-language .language-label {
    float: left;
}

.rtl .header-container .header .header-top .header-top-left p.welcome-msg {
    float: right;
    padding: 0 19px 0 0;
    text-align: right;
}

.rtl .header .form-language .sbHolder .sbOptions {
    right: 0;
}

.rtl .header .form-language .sbHolder .sbOptions {
    width: 170%;
}

.rtl .header .form-language .sbHolder .sbOptions li a {
    padding: 5px 25px 5px 0;
    text-align: right;
    background-position: 143px 8px !important;
}

.rtl .header .currency_top .sbHolder .sbOptions li a {
    text-align: right;
}

.rtl .sbToggle, .rtl .header-container .header a.sbToggle,
.rtl .header-container .header a.sbToggle {
    left: 3px;
}

.rtl .header .header-content-right .mt_getcart {
    border-left: none;
    padding-left: 0;
    padding-right: 15px !important;
}

.rtl span.mt-cart-title {
    float: right;
}

.rtl .top-compare .mt-maincompare .mtajaxcompare {
    left: 0;
    right: auto;
}

.rtl .mt_getcompe {
    float: right !important;
}

.rtl .mt-maincart {
    background-position: 97% 12px;
    padding: 3px 10px 10px 0;
}

.rtl .mt-icon-ajaxcart {
    background-position: 0 15px;
    text-align: right;
    padding: 0 25px 0 0;
}

.rtl .mt-icon-ajaxcart a span.print {
    direction: ltr;
}

.rtl .header .header-content-right .form-search button.button,
.rtl .header .header-content-right .form-search input#search {
    float: right;
    text-align: left;
}

.rtl .heading-cart, .rtl .icon-cart {
    float: right;
}

.rtl .header-layout-3 .header-content-seach {
    left: 15px;
    position: absolute;
    right: auto;
}

.rtl .header-layout-3 .header-content-right.header-content-seach:hover .form-search input#search {
    left: 19px;
    right: auto;
}

.rtl .header-layout-3 .icon-cart {
    line-height: 24px;
}

.rtl .header-layout-3 .heading-cart {
    line-height: 25px;
}

.rtl .mt-maincart {
    left: 0;
    right: auto;
}

.rtl .heading-cart {
    padding: 0 10px 0 0;
}

.rtl .icon-cart {
    border-left: 1px solid #CCCCCC;
    border-right: none;
}

.rtl .mt-cart .mt-ajax-container {
    overflow: hidden;
}

.rtl .mt-ajax-checkout a {
    float: right;
}

.rtl .product-image .product-imagenew-label,
.rtl .product-image .product-imagesale-label,
.rtl .slider-product-wrapper .products-grid .item {
    text-align: right;
}

.rtl .footer .footer-link {
    text-align: left;
}

/* Header Menu================================================================================ */
.rtl #mtnav li {
    float: right;
    text-align: right;
}

.rtl .grid12-1, .rtl .grid12-2, .rtl .grid12-3, .rtl .grid12-4, .rtl .grid12-5, .rtl .grid12-6, .rtl .grid12-7, .rtl .grid12-8, .rtl .grid12-9, .rtl .grid12-10,
.rtl .grid12-11, .rtl .grid12-12, .rtl .grid4-1, .rtl .grid4-2, .rtl .grid4-3, .rtl .grid2-1, .rtl .grid-full, .rtl .grid-col2-sidebar, .rtl .grid-col2-main {
    float: right;
}

.rtl .custom p.custom_category_menu_text {
    text-align: right;
}

.rtl #mtnav li.level0 ul li.parent {
    background-image: url("../images/rtl-icon-menu.png");
    background-color: transparent;
    background-position: 6px 13px;
    background-repeat: no-repeat;
}

.rtl #mtnav li.level0 ul li.parent:hover {
    background-color: #FC686C;
    background-position: 230px -17px;
}

.rtl .mt-navigation #mtnav li.level0 ul li a:hover {
    background-color: #00a651;
    /*background-color: #FC686C;*/
}

.rtl #mtnav .sub-wrapper .mm-item-base div ul li div ul li div div.mm-item-base,
.rtl #mtnav li.m-dropdown .dropdown.sub-wrapper div.mm-item-base div ul li div div.mm-item-base {
    margin-right: 10px;
}

.rtl #mtnav li.level0 ul li.parent:hover,
.rtl .mt-navigation #mtnav li ul li.parent a:hover {
    background-position: 10px -18px;
}

.rtl .mt-navigation #mtnav li ul li.parent a:hover {
    background-image: url("../images/rtl-icon-menu.png");
    background-position: 10px -18px;
    background-repeat: no-repeat;
    background-color: #FC686C;
}

.rtl .mt-navigation #mtnav li ul li.level3 a:hover,
.rtl .mt-navigation #mtnav li .dropdown ul li.level2 a:hover {
    background-image: none;
    background-color: #FC686C;
}

.rtl .mt-navigation #mtnav li .dropdown .groups-wrapper ul li.level2.parent a:hover {
    background-image: url("../images/rtl-icon-menu.png") !important;
    background-position: 10px -18px !important;
    background-repeat: no-repeat !important;
    background-color: #FC686C;
}

.rtl .mt-navigation #mtnav li .dropdown .groups-wrapper ul.level2 li.level3 a:hover {
    background-image: none !important;
    background-color: #FC686C;
}

.rtl #mtnav li .shown-sub li div.shown-sub {
    left: -220px;
}

.rtl .mt-menu ul.nav-accordion li a {
    padding-right: 15px;
}

.rtl .mt-menu ul.nav-accordion li li a {
    padding-right: 30px;
}

.rtl .mt-menu ul.nav-accordion li li li a {
    font-size: 13px;
    padding-right: 45px;
}

.rtl .mt-menu ul.nav-accordion li li li li a {
    font-size: 12px;
    padding-right: 60px;
}

.rtl .mt-menu ul.nav-accordion li a {
    color: #FFFFFF;
}

.rtl .mt-menu ul.nav-accordion li span.collapse, .rtl .mt-menu ul.nav-accordion li span.expand {
    /*right: 85%;*/
    right: auto;
    left: 0;
}

.rtl ul.products-posts .posts-item-inner .posts-actions-inner {
    padding-left: 0;
}
.rtl ul.nav-accordion li a > span{
    border-right: none;
}
.rtl ul.nav-accordion li a{
    padding-right: 0;
}
/* Featured Products================================================================================ */
.rtl .flexslider .slides {
    float: left;
}

.rtl .nav-wrapper ul.flex-direction-nav li a, .rtl .nav-wrapper ul.direction-nav li a {
    font-size: 0;
}

.rtl .header-container .header .header-top .form-language .language-label {
    text-align: right;
}

.rtl .widget-static-block .custom .title h2 {
    float: right;
}

.rtl .widget-static-block .custom .btn-purchase {
    float: left;
    margin-left: 0;
}

.rtl .block-subscribe .block-title {
    margin-left: 10px;
    margin-right: 0;
}

.rtl .block-subscribe .block-content .actions {
    margin-left: 0;
    margin-right: 10px;
}

.rtl .block-subscribe .block-title,
.rtl .block-subscribe .block-content .input-box,
.rtl .block-subscribe .block-content .actions {
    float: right;
}

.rtl .mt-block-free {
    text-align: left;
}

/* custom ================================================================================ */
.rtl .top-actions-inner .mt-actions .confix-produclist .wishlist, .rtl .top-actions-inner .actions .confix-produclist .wishlist {
    margin-left: 3px;
    margin-right: 0;
}

.rtl ul.products-grid li.item .confix-produclist {
    padding-left: 0;
    padding-right: 4px;
}

/* Category ================================================================================ */
.rtl .breadcrumbs li {
    float: right;
    background: url("../images/breadcrumbs-rtl.png") no-repeat scroll 0 50% transparent;
    padding: 0 10px;
}

.rtl .breadcrumbs li:last-child {
    background: none;
}

.rtl .breadcrumbs li:first-child {
    padding-left: 10px;
}

.rtl .breadcrumbs li.home {
    padding-right: 10px;
}

.rtl ul.nav-accordion li span.expand,
.rtl ul.nav-accordion li span.collapse {
    text-align: right;
}

.rtl .main, .rtl ul.nav-accordion li a {
    text-align: right;
}

.rtl ul.nav-accordion li ul li a {
    padding: 0 25px 0 0;
}

.rtl ul.nav-accordion ul ul li a {
    margin-right: 10px;
}

.rtl ul.nav-accordion ul ul ul li a {
    margin-right: 20px;
}

.rtl .block-layered-nav dd li {
    direction: ltr;
}

.rtl ul.nav-accordion li span.collapse, .rtl ul.nav-accordion li span.expand {
    /*right: 93%;*/
    right: auto;
    left: 0;
    text-align: center;
    border-right: none;
}

.rtl .tags-list li {
    float: right;
}

.rtl .toolbar .toolbar-top .sorter .view-mode a.list,
.rtl .toolbar .toolbar-top .sorter .view-mode strong,
.rtl .toolbar .toolbar-top .sorter .view-mode a.grid {
    text-align: right;
}

.rtl .block-reorder ol#cart-sidebar-reorder li p.product-name {
    float: right;
    padding-right: 5px;
}

.rtl .block-reorder ol#cart-sidebar-reorder li input {
    float: right;
}

.rtl .my-wishlist .title-buttons h1 {
    float: right;
    text-align: right;
}

.rtl ul.nav-accordion li.level0 > a > span > .cat-label {
    display: inline-block;
}

.rtl .sidebar .block .block-title {
    direction: ltr;
}

.rtl .category-products #products-list .std {
    text-align: right;
}

.rtl .category-products #products-list .price-box,
.rtl .category-products #products-list p.button-product-list,
.rtl .category-products .products-list .confix-produclist-category {
    float: right;
}

.rtl .category-products .products-list .confix-produclist-category {
    padding-right: 5px;
}

.rtl .category-products #products-list .product-name,
.rtl .category-products .item {
    text-align: right;
}

.rtl .top-actions-inner .mt-actions .confix-produclist-category .link-wishlist,
.rtl .top-actions-inner .actions .confix-produclist-category .link-wishlist {
    margin-left: 5px;
}

.rtl .category-products .item .actions .confix-produclist-category {
    padding-right: 4px;
}

.rtl .category-products #products-list .item .product-hover .product-image .product-imagesale-label {
    left: -11px;
}

.rtl .category-products #products-list .item .product-hover .product-image .product-imagenew-label {
    right: -24px;
}

.rtl .block-compare .btn-remove {
    text-align: right;
}

/* product-view ================================================================================ */
.rtl .product-view .product-shop .price-box .regular-price {
    float: right;
}

.rtl .more-views-viewport .slides {
    float: left;
}

.rtl .product-view .product-shop .availability span.in-stock1 {
    text-align: right;
}

.rtl .product-view .product-shop, .rtl p.required {
    text-align: right;
}

.rtl .product-shop .add-to-cart label, .rtl .product-shop .add-to-cart input.input-text,
.rtl .product-view .product-shop .add-to-cart,
.rtl .product-view .product-shop .product-options-bottom ul.add-to-links li,
.rtl .product-view .product-shop .product-add-to-links {
    float: right;
}

.rtl .product-view .product-shop .product-add-to-links {
    margin-right: 5px;
}

.rtl .product-view .product-shop .product-options-bottom ul.add-to-links li a.link-wishlist {
    margin-left: 10px;
}

.rtl .product-imagenew-label, .rtl .product-imagesale-label {
    text-align: right;
}

.rtl .product-view .product-shop {
    border-left: 1px solid #ECECEC;
    border-right: none;
}

.rtl .product-tabs li {
    float: right;
    margin: 0 0 0 15px;
}

.rtl .mousetrap {
    right: 0 !important;
}

.rtl .product-view .product-shop .product-options input.required-entry {
    text-align: right;
}

.rtl .block-related .block-content .block-subtitle {
    text-align: right;
}

.rtl .product-tabs-content .slider-product-wrapper .flex-viewport {
    float: left;
}

.rtl .product-tabs-content-inner {
    text-align: right;
}

.rtl .ajaxcart {
    left: 0;
    right: auto;
    top: 51px;
}

/* customer-account-login ================================================================================ */
.rtl .form-list label {
    float: right;
}

.rtl .account-login .content h2 {
    background-position: 100% 1px;
    padding: 0 23px 5px 0;
}

/* checkout-onepage-index ================================================================================ */
.rtl .opc .step-title .number, .rtl .opc .step-title h2 {
    float: right;
}

.rtl .form-list li.control input.radio, .form-list li.control input.checkbox,
.rtl .form-list li.control label {
    float: right;
}

.rtl .form-list li.control label {
    margin: -1px 10px 0 0;
}

.rtl .checkout-onepage-success .page-title h1 {
    text-align: center;
}

/* checkout-cart-index ================================================================================ */
.rtl .confix-produclist ul li a {
    text-align: right;
}

/* Footer================================================================================ */
.rtl .footer-container .footer-bottom .section-space .collapsible h3,
.rtl .footer-container .footer-bottom .section-space .collapsible,
.rtl .footer li,
.rtl .footer p,
.rtl .footer-container .footer-bottom .box-content-footer .box-content-top .icon-style-1 {
    text-align: right;
}

.rtl .footer-container .footer-copyright .footer li {
    float: right;
    background-position: 0% 50%;
}

.rtl .footer-container .footer-copyright .footer li.first {
    padding-right: 0px;
    padding-left: 10px;
}

.rtl .footer-container .footer-top .box-connect h3 {
    padding-left: 0;
    padding-right: 90px;
}

.rtl .footer-container .footer-copyright address,
.rtl .footer-container .footer-top .box-connect h3 {
    text-align: right;
    float: right;
}

.rtl .footer-container .footer-top .box-connect {
    text-align: left;
}

.rtl .footer h3.block-title {
    text-align: right;
}

@media (min-width: 940px) and (max-width: 1170px) {
    .rtl ul.nav-accordion li span.collapse, .rtl ul.nav-accordion li span.expand {
        /*right: 90%;*/
        right: auto;
        left: 0;
    }

    .rtl ul.nav-accordion li ul li a {
        padding-right: 5px;
    }

    .rtl ul.nav-accordion ul ul li a {
        font-size: 90%;
        margin-right: 5px;
    }

    .rtl ul.nav-accordion ul ul ul li a {
        margin-right: 15px;
    }

    .rtl .product-view .product-shop {
        text-align: right !important;
    }

    .rtl #mtnav li .shown-sub li div.shown-sub {
        left: -164px;
    }

    #mtnav li .shown-sub li div.shown-sub {
        width: 165px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .rtl ul.nav-accordion li span.collapse, .rtl ul.nav-accordion li span.expand {
        right: 85%;
    }

    .rtl ul.nav-accordion li ul li a {
        padding: 0 5px 0 0;
    }

    .rtl ul.nav-accordion ul ul li a {
        font-size: 90%;
        margin-right: 5px;
    }

    .rtl ul.nav-accordion ul ul ul li a {
        margin-right: 15px;
    }

    .rtl .product-view .product-shop {
        text-align: right !important;
    }

    .rtl #mtnav li .shown-sub li div.shown-sub {
        left: -152px;
    }

    .rtl ul.products-posts .posts-item-inner .posts-actions-inner {
        padding-right: 10px;
    }

}

.rtl .mt-maincart {
    height: 52px;
}

.rtl .header-container .header .header-top .header-top-right ul.links li a.top-link-checkout {
    background-position: 100% -230px;
}

.rtl .header-container .header .header-top .header-top-right ul.links li a.top-link-wishlist {
    background-position: 100% -66px;
}

.rtl .header-container .header .header-top .header-top-right ul.links li.first a {
    background-position: 100% 14px;
}

.rtl .header-container .header .header-top .header-top-right ul.links li.last a {
    background-position: 100% -148px;
}

.rtl .header-container .header .header-top .header-top-right ul.links li a {
    padding: 0 20px 0 32px;
}

.rtl .header-container .header .header-top .header-top-right ul.links li.last a {
    padding: 0 20px 0 0;
}

.rtl .header-container .header .header-top .language-switcher a {
    padding-right: 0;
    padding-left: 15px;
}


.rtl .opc-wrapper-opc p,
.rtl .opc-wrapper-opc h2,
.rtl .opc-wrapper-opc .text-login,
.rtl  .opc-wrapper-opc .opc-col-center,
.rtl .opc-wrapper-opc .opc-col-right,
.rtl .opc-wrapper-opc .opc-col-left {
    direction: rtl;
    text-align: right;
}



