<div id="content" class="doc-content"><h2>Introduction</h2>
    <p><strong>Current Version</strong> 2.1.1 (Dec 2, 2014)</p>
    
    <p><strong>MT Belano</strong> is not only a friendly interface, but also an impressive and beautyful design. So, It will surely meet the highest of your business objectives. With this user guide, we hope you will know how to install &amp; use this template daily to support your business activities effectively.</p>
    <p>If you are unable to find answers to your questions, please feel free to post them in <a href="http://support.zooextension.com/">HelpDesk</a>, or contact to us. We’d be glad to help you. Once again thank you so much for using our company’s product.</p>
</div>