#cboxContent.newsletterbox #cboxLoadedContent {
    margin: 0 auto;
    width: 60% !important;
}
.block-subscribe.block-subscribe-popup{
    text-align: center;
}
.block-subscribe.block-subscribe-popup .block-title{
    float: none !important;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}
.block-subscribe.block-subscribe-popup .block-title span {
    font-size: 200%;
    color: #FFFFFF;
}
.block-subscribe.block-subscribe-popup .intro p{color: #FFFFFF;}
.block-subscribe.block-subscribe-popup .block-content .input-box,
.block-subscribe.block-subscribe-popup .block-content .actions{
   float: none !important;
    height: auto;
}
.block-subscribe.block-subscribe-popup .block-content .input-box input.input-text{
    width: 300px;
    text-align: center;
}
.block-subscribe.block-subscribe-popup .block-content .actions{
    padding: 15px 0;
	float: none !important;
}
.block.block-subscribe.block-subscribe-popup .block-content{text-align: center;}
.block.block-subscribe.block-subscribe-popup .block-content .subcriper_label{
    color: #FFFFFF;
}
.block.block-subscribe.block-subscribe-popup .block-content .subcriper_label input{
    margin: 0;
}