<div class="page-title">
    <h1><?php echo $this->__('Your order has been received.') ?></h1>
</div>
<h2 class="sub-title"><?php echo $this->__('Thank you for your purchase!') ?></h2>
<?php $orderInfo = $this->getOrderInfo(); ?>
<?php if ($orderInfo->getOrderId()):?>
<?php if ($orderInfo->getCanViewOrder()) :?>
    <p><?php echo $this->__('Your order # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($orderInfo->getViewOrderUrl()), $this->escapeHtml($orderInfo->getOrderId()))) ?></p>
<?php  else :?>
    <p><?php echo $this->__('Your order # is: %s.', $this->escapeHtml($orderInfo->getOrderId())) ?></p>
<?php endif;?>
    <p><?php echo $this->__('You will receive an order confirmation email with details of your order and a link to track its progress.') ?></p>
<?php endif;?>

<?php $result = $this->getOrderDetails();
        if ($result['trackid']) {
            echo "<h2 class=sub-title>".Mage::helper('knet')->__('Payment Details ')."</h2>";
        } if($result['paymentid']) {
            echo "PaymentID : ".$result['paymentid']."<br />";
        } if($result['result']) {
            echo "Result : ".$result['result']."<br />";
        } if($result['postdate']) {
            echo "PostDate : ".$result['postdate']."<br />";
        } if($result['tranid']) {
            echo "TranID : ".$result['tranid']."<br />";
        } if($result['auth']) {
            echo "Auth : ".$result['auth']."<br />";
        } if($result['ref']) {
            echo "Ref : ".$result['ref']."<br />";
        } if($result['trackid']) {
            echo "TrackID : ".$result['trackid']."<br /><br />";
        }
?>

<?php if ($orderInfo->getOrderId()):?>
<?php if ($orderInfo->getCanViewOrder() && $orderInfo->getCanPrintOrder()) :?>
    <p>
        <?php echo $this->__('Click <a href="%s" onclick="this.target=\'_blank\'">here to print</a> a copy of your order confirmation.', $orderInfo->getPrintUrl()) ?>
        <?php echo $orderInfo->getChildHtml() ?>
    </p>
<?php endif;?>
<?php endif;?>

<div class="buttons-set">
    <button type="button" class="button" title="<?php echo $this->__('Continue Shopping') ?>" onclick="window.location='<?php echo $this->getUrl() ?>'"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
</div>
