<?php
/**
 *
 * ------------------------------------------------------------------------------
 * @category     MT
 * @package      MT_Themes
 * ------------------------------------------------------------------------------
 * @copyright    Copyright (C) 2008-2013 MagentoThemes.net. All Rights Reserved.
 * @license      GNU General Public License version 2 or later;
 * @author       MagentoThemes.net
 * @email        support@magentothemes.net
 * ------------------------------------------------------------------------------
 *
 */
?>
<!-- navigation BOF -->
<?php 
$megaeffect = Mage::getStoreConfig('mtbelano/menu/menuleft_effect');
$_menu = $this->renderCategoriesMenuHtml(FALSE, FALSE, 0, 'level-top', 'sub-wrapper' );
$routeName = Mage::app()->getRequest()->getRouteName();
$identifier = Mage::getSingleton('cms/page')->getIdentifier(); 
 
?>
<?php if($_menu): ?>
<div class="mt-navigation-vertical hidden-xs">
	<div class="mt-main-menu-vertical">
		<ul class="megamenu-vertical">
			<?php if(Mage::getStoreConfig('mtbelano/menu/home')){?>
			<li class="level0 home level-top<?php if($routeName == 'cms' && $identifier == 'home') {echo " active";}?> m-dropdown parent">
				<a href="<?php echo $this->getBaseUrl(); ?>" class="level-top"><span><?php echo $this->__('Home'); ?></span></a>
			</li> 
			<?php }?>
			<?php
			echo $_menu;
			if(Mage::getStoreConfig('mtbelano/menu/enable_custom')){
				$getidentifier = Mage::getStoreConfig('mtbelano/menu/static_identifier');
				$arrayidentifier = explode(";", $getidentifier);
				foreach($arrayidentifier as $mcustom){
                    $static_block = explode(':', $mcustom);
					$custom_menu = Mage::getModel('cms/block')->load($static_block[0]);
                    if($static_block[1]) $class = 'menu-item-'.$static_block[1];
					if($custom_menu->getIsActive()) {
						echo '
						<li class="level0 level-top parent custom-block '.$class.'">
							<a href="#" class="level-top">
								<span>'.$custom_menu->getTitle().'</span>
							</a>
							<div class="sub-wrapper">'.$this->getLayout()->createBlock('cms/block')->setBlockId($static_block[0])->toHtml().'</div>
						</li>';
					}
				} 
				$urlkey = Mage::getStoreConfig('mtbelano/menu/url_key');
				$arrayUrlKey = explode(";", $urlkey);
				foreach($arrayUrlKey as $url){
                    $condition = explode(':', $url);
					$page = Mage::getModel('cms/page')->load($condition[0], 'identifier');
                    if($condition[1]) $class = 'menu-item-'.$condition[1];
					if($page->getIsActive()) {
				?> 
					<li class="level0 level-top parent custom-block <?php if($routeName == 'cms' && $identifier == $page->getIdentifier()) {echo " active";}?> <?php echo $class;?>">
						<a href="<?php echo Mage::helper('cms/page')->getPageUrl($condition[0]);?>" class="level-top">
							<span><?php echo $page->getTitle();?></span>
						</a> 
					</li> 
				<?php 
					}
				}
			}
			?>
		</ul>
	</div>
</div>
<script type="text/javascript">
    $mt(function(){
        $mt(".megamenu-vertical").vmegamenu({
            'animation':'<?php echo $megaeffect;?>',
            'direction': 'vertical',
            'mm_timeout': 50
	    });
    });
</script>
<?php endif ?>
<!-- navigation EOF -->